[Desktop Entry]
Comment=DnD GUI for converting audio files
Exec=ffaudioconverter
Name=FFaudioConverter
Icon=com.github.Bleuzen.FFaudioConverter
StartupNotify=true
Type=Application
Categories=Qt;AudioVideo;Audio;
